@font-face {
	font-family: oswald-regular;
	src:url(../fuentes/oswald/Oswald-Regular.ttf);
}

@font-face {
	font-family: oswald-light;
	src:url(../fuentes/oswald/oswald-light.ttf);
}
@font-face {
	font-family: roboto-regular;
	src:url(../fuentes/oswald/Roboto-Regular.ttf);
}

